#php_value error_reporting -1
#php_value display_errors stdout
#php_flag display_startup_errors on

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTP:Authorization} ^(.*)
	RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
	RewriteCond %{REQUEST_URI} !(admin) [NC]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [QSA,L]
</IfModule>